.modal__content {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 12px; 
    max-width: 600px;
}
