.hero__content {
    max-width: 500px;
}

.hero__content-title--lg {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.hero__content-title--primary {
    color: var(--clr-primary-100);
}

.hero__content-text--normal {
    font-size:1.2rem;
    font-weight: 500;
    line-height: 1.6;
    color: var(--clr-text-100);
    margin-bottom: 2rem;
}