.navbar__mobile-menu {
    display: none;
}

.navbar__mobile-menu-toggle {
    padding: 1rem;
    cursor: pointer;
}

.navbar__mobile-menu-items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.5px);
    -webkit-backdrop-filter: blur(16.5px);
    transform: translatex(100%);
    transition: transform 0.3s ease-in-out;
}

.navbar__mobile-menu-items.active {
    transform: translateX(0);
}

.navbar__mobile-menu-list {
    list-style: none;
}

.navbar__mobile-menu-list--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.navbar__mobile-menu-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: var(--clr-text-100);
}

.navbar__mobile-menu-link:hover {
    color: var(--clr-primary-100);
    cursor: pointer;
}

.navbar__mobile-menu-link--primary {
    font-size: 1.2rem;
    color: var(--clr-primary-100);
}

.navbar__mobile-menu-link--primary:hover {
    font-size: 1.2rem;
    color: var(--clr-secondary-100);
}


